In [50]:
import requests
import json
import re

# Import data wranglers
import pandas as pd
import numpy as np
import csv
import gzip

import pickle

# Movie Rating System

## Problem Context


## Problem Statement


## Data gathering


### Scrapping data

In [36]:
#import scrapping libraries

url = "https://imdb-api.com/en/API/MostPopularMovies/k_x3cxd26n"

headers = {
    'x-rapidapi-host': "imdb-api1.p.rapidapi.com",
    'x-rapidapi-key': "k_x3cxd26n"
    }

response = requests.get(url, headers=headers)

In [49]:
movie_list = response.json()

## Data Ingestion

In [2]:
file = open("../data/data.tsv")
data = csv.reader(file, delimiter="\t")

data = pd.DataFrame(data)

## Data Cleaning and Data Storage

### Discovery Questions
* what's in the dataset?
* How big is my dataset?

In [3]:
data.head(5)

           0              1         2
0     tconst  averageRating  numVotes
1  tt0000001            5.7      1807
2  tt0000002            6.0       232
3  tt0000003            6.5      1558
4  tt0000004            6.1       152

## Exploratory Data Analysis (EDA)

## Machine Learning (ML)

### Prepare the data for Machine Learning

In [4]:
X = np.array(range(len(data) -1)).reshape(-1,1)
y = np.array(data[1:][1])

In [10]:
from sklearn.model_selection import train_test_split


#import regressors
from sklearn.linear_model import LinearRegression

# Import scoring metrics
from sklearn.metrics import mean_squared_error

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=0)

### Model Building

In [8]:
#instantiate the model

LR = LinearRegression()

#train the model
LR.fit(X_train,y_train)

LinearRegression()

### Model Evaluation

In [11]:
y_pred = LR.predict(X_test)

mean_squared_error(y_test,y_pred)

1.9152189469284233

### Model saving

In [25]:
import pickle

#Save the model
pickle.dump(LR,open("../models/linear_regressor.pkl","wb"))


#load the model
model = pickle.load(open("../models/linear_regressor.pkl","rb"))

## Deploy

Let's move to python scripts and build the streamlit app