# Movie Rating System

## Problem Context


## Problem Statement


## Data gathering


### Scrapping data

In [1]:
#import scrapping libraries

In [7]:
! ls ../data

 data.tsv	 name.basics.tsv.gz   title.akas.tsv.gz
'data.tsv (2)'	 README.md	      title.ratings.tsv.gz

## Data Ingestion

In [3]:
# Import data wranglers

import pandas as pd
import csv
import gzip

In [5]:
file = open("../data/data.tsv")
data = csv.reader(file, delimiter="\t")

data = pd.DataFrame(data)

## Data Cleaning and Data Storage

In [6]:
data.head(5)

,0,1,2,3,4,5
0,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
1,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0050419,tt0053137,tt0031983"
2,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0038355,tt0117057,tt0037382,tt0071877"
3,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0057345,tt0049189,tt0054452"
4,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0078723,tt0077975,tt0072562"

## Exploratory Data Analysis (EDA)

## Machine Learning (ML)

### Model Building

### Model Evaluation

### Model saving

## Deploy

Let's move to python scripts and build the streamlit app